<%= form_for(@comment,:url => photo_comments_path(@photo), :html => {class:"form-horizontal"}) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :text, class:"col-sm-1 control-label" %>
      <div class="col-sm-11">
        <%= f.text_area :text, class:"form-control", maxlength:"140" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :rating, class:"col-sm-1 control-label" %>
      <div class="col-sm-11">
        <%= f.select :rating, [1,2,3,4,5], html:{class:"form-control"}%>
      </div>

    </div>


    <div class="actions">
      <%= f.submit class:"btn btn-primary", style:"float: right" %>
    </div>
<% end %>

