
<% @photos.each do |photo| %>
    <div class="col-xs-6 col-md-3">
      <div class="photo-block">
        <div class="photo-image">
          <%= link_to (image_tag image_path photo.image.url(:medium)), photo %>
        </div>

        <caption>
          <h3><%= photo.title %></h3>
          <p>By: <%= link_to photo.user.name, show_user_path(photo.user) %></p>
        </caption>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    </div>
<% end %>

<%= link_to 'New Photo', new_photo_path %>
